*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

/*------------ HEADER ------------*/

header {
    margin: 0.625em 1.25em;
}

.logo {
    width: 1.5em;
    height: 1.5em;
    align-self: center;
}

.topnav, 
.page-title,
nav ul {
    display: flex;
}

.topnav, 
.page-title {
    justify-content: space-between;
    font-size: 1rem;
}

.page-title {
    gap: 0.5em;
}

.topnav a {
    margin: 0;
    align-self: center;
    color: #202020;  
}


nav {
    align-self: center;
}

nav ul {
    font-weight: 600;
    list-style: none;
    gap: 3em;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}



/*------------ CONTENT ------------*/

/* INTRO */

.date,
.intro-title,
.blog-intro {
    margin: 0;
    max-width: 600px;
}

.intro {
    color: #FFFFFF;
    font-family: inherit; 
    background: #252525 url("images/article-image-hero.png");
    width: 100%;
    background-size: cover;
    object-fit: cover;
    padding: 5em 1em 1em;
    line-height: 1.5;
    letter-spacing: 1;
}

/* GRID */

.grid {
    margin: 3em 1em;
    display: flex;
    flex-wrap: wrap;
    flex: 1 600px;
    gap: 1.5em;
    justify-content: center;
}

.grid img {
    width: 100%;
    height: 70%;
    max-width: 600vw;
    max-height: 350vh;
}

.blog img,
.blog .title,
.blog .content {
    margin: 0.5em 0;
    max-width: 500px;
}

.blog .container {
    line-height: 1.5;
    text-shadow: 0 0 3px #252525;
    font-weight: 600;
}

section,
nav ul li a {
    margin: 2em auto;
    text-align: center;
    font-weight: 600;
    color: #252525;
}

section button {
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    color: #252525;
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

footer {
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    color: #FFFFFF;
    background-color: #202020;
    justify-content: center;
}

footer h4,
footer p {
    margin: 0.2em 0;  
}


.blog-hidden {
    display: none;
}



/* HAMBURGER MENU */

.mylinks {
    display: none;
  }

.mylinks ul li:not(:last-child),
.mylinks-head ul li:not(:last-child) {
    border-bottom: 1px dotted #FFFFFF;
}

.mylinks ul li,
.mylinks-head ul li {
    padding: 10px;
    list-style: none;
    text-decoration: none !important;
    margin: 0;
  }

.mylinks ul li a,
.mylinks-head ul li a {
    font-weight: 600;
    color: #202020;
    text-transform: uppercase;
    color:#FFFFFF;
}

ul {
    padding: 0.5em 1em;
}

.topnav a:hover {
    color: whitesmoke;
}

.burger:hover {
    background-color: gray;
    border-radius: 3px;
}


/* MEDIA QUERIES */

@media (max-width: 1055px) {
    .burger {
        display: flex;
        justify-content: center;
        width: 50px;
        margin: 0.5em 0.25em;
    }

    .mylinks-head {
        display: none;
      }
}

@media (min-width: 1056px) {
    .burger {
        display: none;
    }

    header,
    .mylinks-head ul {
        display: flex;
    }

    header {
        margin: 0 auto;
        padding: 0 1em;
        justify-content: space-between;
    }

    .topnav {
        align-items: center;
    }

    .mylinks-head ul {
        gap: 1em;
    }

    .mylinks-head ul li a {
        font-weight: 600;
        color: #202020;
        text-transform: uppercase;
    }

}